<% provide(:titulo, @usuario.nombre) %>

<div class = "row">
	<aside class = "span4">
		<section>
			<h1>
			  <%= gravatar_de @usuario %>
			  <%= @usuario.nombre %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @usuario.mensajes.any? %>
			<h3>Mensajes (<%= @usuario.mensajes.count %>)</h3>
			<ol class="mensajes">
				<%= render @mensajes %>
			</ol>
			<%= will_paginate @mensajes %>
		<% end %>
	</div>
</div>


