<!DOCTYPE html>
<html>
<head>
  <title><%= titulo_base(yield(:titulo)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/etiquetaHeader'%>
    <div class="container">
    <% flash.each do |clave, valor| %>
      <div class="alert alert-<%= clave %>"><%= valor %></div>
    <% end %>
      <%= yield %>
      <%= render 'layouts/etiquetaFooter' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
